In [4]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score

train = pd.read_csv('../save/data/preprocess/prepro_train.csv')
test = pd.read_csv('../save/data/preprocess/prepro_test.csv')

date_train_lunch = pd.read_csv('../save/data/preprocess/date_train_lunch.csv')
date_train_dinner = pd.read_csv('../save/data/preprocess/date_train_dinner.csv')
date_test_lunch = pd.read_csv('../save/data/preprocess/date_test_lunch.csv')
date_test_dinner = pd.read_csv('../save/data/preprocess/date_test_dinner.csv')

corona_train = pd.read_csv('../save/data/preprocess/corona_train_2016.csv')
corona_test = pd.read_csv('../save/data/preprocess/corona_test.csv')

train['요일'] = train['요일'].map({'월':0, '화':1, '수':2, '목':3, '금':4})
test['요일'] = test['요일'].map({'월':0, '화':1, '수':2, '목':3, '금':4})

x_train = train[['요일', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수', '현본사소속재택근무자수']]
y1_train = train['중식계']
y2_train = train['석식계']

x_test = test[['요일', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수', '현본사소속재택근무자수']]
y1_test = test['중식계']
y2_test = test['석식계']


# scaler = QuantileTransformer()
# x_train = scaler.fit_transform(x_train['본사정원수', '본사출장자수', '본사시간외근무명령서승인건수', '현본사소속재택근무자수'])
# x_train = scaler.fit_transform(x_train)
# x_test = scaler.fit(x_test['본사정원수', '본사출장자수', '본사시간외근무명령서승인건수', '현본사소속재택근무자수'])
# x_test = scaler.fit(x_test)

# lunch_train = date_train_lunch[['기온(°C)','강수량(mm)','습도(%)','적설(cm)']]
# dinner_train = date_train_dinner[['기온(°C)','강수량(mm)','습도(%)','적설(cm)']]

lunch_train = date_train_lunch[['강수량(mm)']]
dinner_train = date_train_dinner[['강수량(mm)']]

corona_train = corona_train[['확진자수']]
corona_test = corona_test[['확진자수']]

x1_train = pd.concat([x_train, lunch_train, corona_train], axis=1)
x2_train = pd.concat([x_train, dinner_train, corona_train], axis=1)

In [5]:
x1_train

      요일  본사정원수  본사휴가자수  본사출장자수  본사시간외근무명령서승인건수  현본사소속재택근무자수  강수량(mm)  확진자수
0      0   2601      50     150             238          0.0      0.0     0
1      1   2601      50     173             319          0.0      0.0     0
2      2   2601      56     180             111          0.0      0.0     0
3      3   2601     104     220             355          0.0      0.0     0
4      4   2601     278     181              34          0.0      0.0     0
...   ..    ...     ...     ...             ...          ...      ...   ...
1144   0   3008     156     228             570        144.0      0.0   119
1145   1   3008     105     265             496        136.0      0.0    88
1146   2   3008     105     287               3        138.0      0.0   103
1147   3   3008     131     298             418        137.0      0.0   125
1148   4   3008     340     298               1        107.0      0.0   113

[1149 rows x 8 columns]

In [6]:
x2_train

      요일  본사정원수  본사휴가자수  본사출장자수  본사시간외근무명령서승인건수  현본사소속재택근무자수  강수량(mm)  확진자수
0      0   2601      50     150             238          0.0      0.0     0
1      1   2601      50     173             319          0.0      0.0     0
2      2   2601      56     180             111          0.0      0.0     0
3      3   2601     104     220             355          0.0      0.0     0
4      4   2601     278     181              34          0.0      0.0     0
...   ..    ...     ...     ...             ...          ...      ...   ...
1144   0   3008     156     228             570        144.0      0.0   119
1145   1   3008     105     265             496        136.0      0.0    88
1146   2   3008     105     287               3        138.0      0.0   103
1147   3   3008     131     298             418        137.0      0.0   125
1148   4   3008     340     298               1        107.0      0.0   113

[1149 rows x 8 columns]

In [7]:

# lunch_test = date_test_lunch[['기온(°C)','강수량(mm)','습도(%)','적설(cm)']]
# dinner_test = date_test_dinner[['기온(°C)','강수량(mm)','습도(%)','적설(cm)']]
lunch_test = date_test_lunch[['강수량(mm)']]
dinner_test = date_test_dinner[['강수량(mm)']]

x1_test = pd.concat([x_test, lunch_test, corona_test], axis=1)
x2_test = pd.concat([x_test, dinner_test, corona_test], axis=1)

model1 = RandomForestRegressor(n_jobs=-1, random_state=5)
model2 = RandomForestRegressor(n_jobs=-1, random_state=5)

model1.fit(x1_train, y1_train)
model2.fit(x2_train, y2_train)

pred1 = model1.predict(x1_test)
pred2 = model2.predict(x2_test)

      강수량(mm)
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
...       ...
1144      0.0
1145      0.0
1146      0.0
1147      0.0
1148      0.0

[1149 rows x 1 columns]

In [11]:
pd.DataFrame(pred1, columns=['중식계'])

        중식계
0   1119.66
1    805.56
2    795.47
3    682.55
4    561.86
5   1097.40
6    798.03
7    801.88
8    680.78
9    542.69
10  1142.71
11   867.04
12   804.94
13   796.37
14   487.78
15  1143.72
16  1011.85
17   941.33
18   904.44
19   630.51
20  1186.84
21  1002.32
22   950.55
23   905.70
24   644.90
25  1189.73
26  1008.23
27   947.77
28   907.57
29   691.54
30  1177.70
31  1003.69
32   955.57
33   970.13
34   791.69
35  1164.06
36   989.66
37   911.85
38   544.60
39  1253.36
40  1017.22
41  1005.07
42   944.48
43   763.88
44  1212.72
45  1001.51
46   977.09
47   908.33
48   761.08
49  1301.36
50   973.18
51   969.17
52   851.29
53   609.93
54  1207.53
55  1038.15

In [12]:
pd.DataFrame(pred1, columns=['석식계'])

        석식계
0   1119.66
1    805.56
2    795.47
3    682.55
4    561.86
5   1097.40
6    798.03
7    801.88
8    680.78
9    542.69
10  1142.71
11   867.04
12   804.94
13   796.37
14   487.78
15  1143.72
16  1011.85
17   941.33
18   904.44
19   630.51
20  1186.84
21  1002.32
22   950.55
23   905.70
24   644.90
25  1189.73
26  1008.23
27   947.77
28   907.57
29   691.54
30  1177.70
31  1003.69
32   955.57
33   970.13
34   791.69
35  1164.06
36   989.66
37   911.85
38   544.60
39  1253.36
40  1017.22
41  1005.07
42   944.48
43   763.88
44  1212.72
45  1001.51
46   977.09
47   908.33
48   761.08
49  1301.36
50   973.18
51   969.17
52   851.29
53   609.93
54  1207.53
55  1038.15