In [225]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [226]:
data2016 = pd.read_csv('./data/rawdata/기상청/2016_01_to_12.csv', encoding='euc-kr')
data2017 = pd.read_csv('./data/rawdata/기상청/2017_01_to_12.csv', encoding='euc-kr')
data2018 = pd.read_csv('./data/rawdata/기상청/2018_01_to_12.csv', encoding='euc-kr')
data2019 = pd.read_csv('./data/rawdata/기상청/2019_01_to_12.csv', encoding='euc-kr')
data2020 = pd.read_csv('./data/rawdata/기상청/2020_01_to_12.csv', encoding='euc-kr')
data2021 = pd.read_csv('./data/rawdata/기상청/2021_01_to_07.csv', encoding='euc-kr')

In [227]:
merge_df = pd.concat([data2016, data2017, data2018, data2019, data2020, data2021])

In [228]:
merge_df

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),적설(cm),3시간신적설(cm)
0,192,진주,2016-01-01 01:00,-4.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,80.0,0.0,3.6,-6.9,NaN,NaN
1,192,진주,2016-01-01 02:00,-4.8,0.0,NaN,NaN,0.1,0.0,0.0,0.0,82.0,0.0,3.5,-7.4,NaN,NaN
2,192,진주,2016-01-01 03:00,-5.0,0.0,NaN,NaN,0.3,0.0,0.0,0.0,83.0,0.0,3.5,-7.4,NaN,NaN
3,192,진주,2016-01-01 04:00,-5.4,0.0,NaN,NaN,0.3,0.0,0.0,0.0,85.0,0.0,3.5,-7.5,NaN,NaN
4,192,진주,2016-01-01 05:00,-6.0,0.0,NaN,NaN,0.2,0.0,0.0,0.0,85.0,0.0,3.3,-8.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5044,192,진주,2021-07-30 05:00,22.7,NaN,NaN,NaN,0.0,NaN,0.0,NaN,97.0,NaN,26.6,22.1,NaN,NaN
5045,192,진주,2021-07-30 06:00,23.2,NaN,NaN,NaN,0.4,NaN,0.0,NaN,97.0,NaN,27.4,22.6,NaN,NaN
5046,192,진주,2021-07-30 07:00,24.0,NaN,NaN,NaN,0.2,NaN,0.0,NaN,94.0,NaN,27.9,22.9,NaN,NaN
5047,192,진주,2021-07-30 08:00,25.3,NaN,NaN,NaN,0.5,NaN,200.0,NaN,92.0,NaN,29.5,23.8,NaN,NaN
5048,192,진주,2021-07-30 09:00,27.1,NaN,NaN,NaN,0.9,NaN,140.0,NaN,85.0,NaN,30.4,24.3,NaN,NaN

In [229]:
merge_df.columns

Index(['지점', '지점명', '일시', '기온(°C)', '기온 QC플래그', '강수량(mm)', '강수량 QC플래그',
       '풍속(m/s)', '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그', '습도(%)', '습도 QC플래그',
       '증기압(hPa)', '이슬점온도(°C)', '적설(cm)', '3시간신적설(cm)'],
      dtype='object')

In [230]:
# 필요 없는 컬럼 제거
merge_df.drop(['지점', '지점명', '기온 QC플래그', '강수량 QC플래그',  '풍속 QC플래그', '풍향(16방위)',
               '풍향 QC플래그', '습도 QC플래그', '증기압(hPa)', '이슬점온도(°C)',  '3시간신적설(cm)'], axis=1, inplace=True)

In [231]:
merge_df

                    일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0     2016-01-01 01:00    -4.0      NaN      0.0   80.0     NaN
1     2016-01-01 02:00    -4.8      NaN      0.1   82.0     NaN
2     2016-01-01 03:00    -5.0      NaN      0.3   83.0     NaN
3     2016-01-01 04:00    -5.4      NaN      0.3   85.0     NaN
4     2016-01-01 05:00    -6.0      NaN      0.2   85.0     NaN
...                ...     ...      ...      ...    ...     ...
5044  2021-07-30 05:00    22.7      NaN      0.0   97.0     NaN
5045  2021-07-30 06:00    23.2      NaN      0.4   97.0     NaN
5046  2021-07-30 07:00    24.0      NaN      0.2   94.0     NaN
5047  2021-07-30 08:00    25.3      NaN      0.5   92.0     NaN
5048  2021-07-30 09:00    27.1      NaN      0.9   85.0     NaN

[48886 rows x 6 columns]

In [232]:
merge_df

                    일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0     2016-01-01 01:00    -4.0      NaN      0.0   80.0     NaN
1     2016-01-01 02:00    -4.8      NaN      0.1   82.0     NaN
2     2016-01-01 03:00    -5.0      NaN      0.3   83.0     NaN
3     2016-01-01 04:00    -5.4      NaN      0.3   85.0     NaN
4     2016-01-01 05:00    -6.0      NaN      0.2   85.0     NaN
...                ...     ...      ...      ...    ...     ...
5044  2021-07-30 05:00    22.7      NaN      0.0   97.0     NaN
5045  2021-07-30 06:00    23.2      NaN      0.4   97.0     NaN
5046  2021-07-30 07:00    24.0      NaN      0.2   94.0     NaN
5047  2021-07-30 08:00    25.3      NaN      0.5   92.0     NaN
5048  2021-07-30 09:00    27.1      NaN      0.9   85.0     NaN

[48886 rows x 6 columns]

In [233]:
mask_d = merge_df['일시'].str.slice(start=10).str.strip() =='18:00'

mask_l = merge_df['일시'].str.slice(start=10).str.strip() == '12:00'

In [234]:
merge_df_l = merge_df.loc[mask_d,:]
merge_df_d = merge_df.loc[mask_l,:]

In [235]:
merge_df_l['날짜'] = merge_df_l.iloc[:, 0].str[0:10]
merge_df_d['날짜'] = merge_df_d.iloc[:, 0].str[0:10]

<ipython-input-235-07c315e0490f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df_l['날짜'] = merge_df_l.iloc[:, 0].str[0:10]
<ipython-input-235-07c315e0490f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df_d['날짜'] = merge_df_d.iloc[:, 0].str[0:10]

In [236]:
merge_df_l['날짜'] = pd.to_datetime(merge_df_l.iloc[:,6])
merge_df_d['날짜'] = pd.to_datetime(merge_df_d.iloc[:,6])

<ipython-input-236-e506c1055db4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df_l['날짜'] = pd.to_datetime(merge_df_l.iloc[:,6])
<ipython-input-236-e506c1055db4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df_d['날짜'] = pd.to_datetime(merge_df_d.iloc[:,6])

In [237]:
merge_df_l['요일'] = merge_df_l['날짜'].dt.dayofweek
merge_df_d['요일'] = merge_df_d['날짜'].dt.dayofweek

<ipython-input-237-7e7d0c08746c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df_l['요일'] = merge_df_l['날짜'].dt.dayofweek
<ipython-input-237-7e7d0c08746c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df_d['요일'] = merge_df_d['날짜'].dt.dayofweek

In [238]:
merge_df_l

                    일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)         날짜  요일
17    2016-01-01 18:00     4.4      NaN      1.0   57.0     NaN 2016-01-01   4
41    2016-01-02 18:00     5.6      NaN      0.2   68.0     NaN 2016-01-02   5
65    2016-01-03 18:00     9.7      NaN      0.8   65.0     NaN 2016-01-03   6
89    2016-01-04 18:00     8.1      NaN      0.5   32.0     NaN 2016-01-04   0
113   2016-01-05 18:00     1.6      NaN      0.6   72.0     NaN 2016-01-05   1
...                ...     ...      ...      ...    ...     ...        ...  ..
4937  2021-07-25 18:00    30.7      NaN      2.2   62.0     NaN 2021-07-25   6
4961  2021-07-26 18:00    29.5      NaN      2.4   63.0     NaN 2021-07-26   0
4985  2021-07-27 18:00    30.1      NaN      1.2   71.0     NaN 2021-07-27   1
5009  2021-07-28 18:00    30.5      NaN      1.4   69.0     NaN 2021-07-28   2
5033  2021-07-29 18:00    29.5      NaN      1.5   70.0     NaN 2021-07-29   3

[2037 rows x 8 columns]

In [239]:
merge_df_d

                    일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)         날짜  요일
11    2016-01-01 12:00     4.8      NaN      1.0   45.0     NaN 2016-01-01   4
35    2016-01-02 12:00     5.6      NaN      1.4   59.0     NaN 2016-01-02   5
59    2016-01-03 12:00     9.0      NaN      0.8   65.0     NaN 2016-01-03   6
83    2016-01-04 12:00     9.5      NaN      0.9   77.0     NaN 2016-01-04   0
107   2016-01-05 12:00     2.1      0.0      0.7   60.0     NaN 2016-01-05   1
...                ...     ...      ...      ...    ...     ...        ...  ..
4931  2021-07-25 12:00    31.0      NaN      2.3   66.0     NaN 2021-07-25   6
4955  2021-07-26 12:00    30.8      NaN      1.1   60.0     NaN 2021-07-26   0
4979  2021-07-27 12:00    31.2      NaN      1.8   60.0     NaN 2021-07-27   1
5003  2021-07-28 12:00    31.3      NaN      1.3   63.0     NaN 2021-07-28   2
5027  2021-07-29 12:00    31.5      NaN      1.7   61.0     NaN 2021-07-29   3

[2036 rows x 8 columns]

In [240]:
merge_df_l = merge_df_l.fillna(0)
merge_df_d = merge_df_d.fillna(0)

In [241]:
mask_l = (merge_df_l['요일'] != 5) & (merge_df_l['요일'] != 6)
mask_d = (merge_df_d['요일'] != 5) & (merge_df_d['요일'] != 6)

In [242]:
merge_df_l = merge_df_l.loc[mask_l, :]

In [243]:
merge_df_d = merge_df_d.loc[mask_d, :]

In [244]:
merge_df_l['요일'] = merge_df_l['요일'].map({0:'월', 1:'화',2:'수',3:'목',4:'금'})

In [245]:
merge_df_d['요일'] = merge_df_d['요일'].map({0:'월', 1:'화',2:'수',3:'목',4:'금'})

In [246]:
merge_df_d

                    일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)         날짜 요일
11    2016-01-01 12:00     4.8      0.0      1.0   45.0     0.0 2016-01-01  금
83    2016-01-04 12:00     9.5      0.0      0.9   77.0     0.0 2016-01-04  월
107   2016-01-05 12:00     2.1      0.0      0.7   60.0     0.0 2016-01-05  화
131   2016-01-06 12:00     5.6      0.0      1.0   31.0     0.0 2016-01-06  수
155   2016-01-07 12:00     5.5      0.0      1.7   34.0     0.0 2016-01-07  목
...                ...     ...      ...      ...    ...     ...        ... ..
4883  2021-07-23 12:00    31.3      0.0      1.6   60.0     0.0 2021-07-23  금
4955  2021-07-26 12:00    30.8      0.0      1.1   60.0     0.0 2021-07-26  월
4979  2021-07-27 12:00    31.2      0.0      1.8   60.0     0.0 2021-07-27  화
5003  2021-07-28 12:00    31.3      0.0      1.3   63.0     0.0 2021-07-28  수
5027  2021-07-29 12:00    31.5      0.0      1.7   61.0     0.0 2021-07-29  목

[1455 rows x 8 columns]

In [247]:
mask_date1 = (merge_df_l['날짜'] >= '2016-02-01')&(merge_df_l['날짜'] <= '2021-01-26')

In [248]:
mask_date2 = (merge_df_d['날짜'] >= '2016-02-01')&(merge_df_d['날짜'] <= '2021-01-26')

In [249]:
merge_df_l = merge_df_l.loc[mask_date1, :]

In [250]:
merge_df_d = merge_df_d.loc[mask_date2, :]

In [251]:
merge_df_l

                   일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)         날짜 요일
761  2016-02-01 18:00     0.9      0.0      1.5   31.0     0.0 2016-02-01  월
785  2016-02-02 18:00     2.4      0.0      1.3   28.0     0.0 2016-02-02  화
809  2016-02-03 18:00     3.0      0.0      0.4   39.0     0.0 2016-02-03  수
833  2016-02-04 18:00     4.0      0.0      0.5   35.0     0.0 2016-02-04  목
857  2016-02-05 18:00     5.7      0.0      2.6   15.0     0.0 2016-02-05  금
..                ...     ...      ...      ...    ...     ...        ... ..
473  2021-01-20 18:00     6.7      0.0      1.0   61.0     0.0 2021-01-20  수
497  2021-01-21 18:00     9.6      0.0      0.8   73.0     0.0 2021-01-21  목
521  2021-01-22 18:00     8.0      0.0      0.7   96.0     0.0 2021-01-22  금
593  2021-01-25 18:00    10.2      0.0      0.9   58.0     0.0 2021-01-25  월
617  2021-01-26 18:00     6.2      0.6      0.1   95.0     0.0 2021-01-26  화

[1302 rows x 8 columns]

In [252]:
merge_df_d

                   일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)         날짜 요일
755  2016-02-01 12:00     3.0      0.0      1.9   24.0     0.0 2016-02-01  월
779  2016-02-02 12:00     1.7      0.0      1.6   24.0     0.0 2016-02-02  화
803  2016-02-03 12:00     3.2      0.0      1.5   31.0     0.0 2016-02-03  수
827  2016-02-04 12:00     3.7      0.0      0.7   30.0     0.0 2016-02-04  목
851  2016-02-05 12:00     6.3      0.0      1.0   17.0     0.0 2016-02-05  금
..                ...     ...      ...      ...    ...     ...        ... ..
467  2021-01-20 12:00     4.8      0.0      1.2   31.0     0.0 2021-01-20  수
491  2021-01-21 12:00     9.1      0.0      0.4   52.0     0.0 2021-01-21  목
515  2021-01-22 12:00     8.4      0.0      0.5   94.0     0.0 2021-01-22  금
587  2021-01-25 12:00    11.3      0.0      2.6   54.0     0.0 2021-01-25  월
611  2021-01-26 12:00     6.2      4.2      0.5   97.0     0.0 2021-01-26  화

[1302 rows x 8 columns]

In [253]:
date_train_d_mask = merge_df_d['날짜'] <= '2020-10-31'
date_test_d_mask = merge_df_d['날짜'] > '2020-10-31'
date_train_l_mask = merge_df_l['날짜'] <= '2020-10-31'
date_test_l_mask = merge_df_l['날짜'] > '2020-10-31'

In [257]:
date_train_d = merge_df_d.loc[date_train_d_mask, :]
date_test_d = merge_df_d.loc[date_test_d_mask, :]
date_train_l = merge_df_l.loc[date_train_l_mask, :]
date_test_l = merge_df_l.loc[date_test_l_mask, :]

In [275]:
date_train_d.drop('일시', axis=1, inplace=True)

KeyError: "['일시'] not found in axis"

In [277]:
date_test_d.drop('일시', axis=1, inplace=True)
date_train_d.drop('일시', axis=1, inplace=True)
date_test_l.drop('일시', axis=1, inplace=True)
date_train_l.drop('일시', axis=1, inplace=True)

KeyError: "['일시'] not found in axis"

In [267]:
date_train_d.to_csv('./data/preprocess/date_train_dinner.csv', index=False)
date_test_d.to_csv('./data/preprocess/date_test_dinner.csv', index=False)
date_train_l.to_csv('./data/preprocess/date_train_lunch.csv', index=False)
date_test_l.to_csv('./data/preprocess/date_test_lunch.csv', index=False)